In [10]:
import pandas as pd

df = pd.read_csv("reviews.csv")
df.head()

   ID                   Review
0   1  The product is amazing!
1   2   Worst experience ever!

In [11]:
df["Review"] = df["Review"].str.lower()
df.head()

   ID                   Review
0   1  the product is amazing!
1   2   worst experience ever!

In [12]:
import re

df["Review"] = df["Review"].apply(
    lambda x: re.sub(r"[^a-z\s]", "", str(x))
)

df.head()

   ID                  Review
0   1  the product is amazing
1   2   worst experience ever

In [13]:
df["tokens"] = df["Review"].apply(lambda x: x.split())
df.head()

   ID                  Review                       tokens
0   1  the product is amazing  [the, product, is, amazing]
1   2   worst experience ever    [worst, experience, ever]

In [14]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words("english"))

stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [16]:
df["tokens"] = df["tokens"].apply(
    lambda words: [w for w in words if w not in stop_words]
)

df.head()

   ID                  Review                     tokens
0   1  the product is amazing         [product, amazing]
1   2   worst experience ever  [worst, experience, ever]

In [17]:
from collections import Counter

all_words = []
for words in df["tokens"]:
    all_words.extend(words)

Counter(all_words).most_common(10)

[('product', 1), ('amazing', 1), ('worst', 1), ('experience', 1), ('ever', 1)]